<!-- Barra Menu -->
<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>{{ titulo }}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button text="Regresar" defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button routerLink="/inicio" expand="block">Inicio</ion-button>
    <ion-button routerLink="/login" expand="block">Log-In</ion-button>
    <ion-button routerLink="/carrito" expand="block">Carrito de compras</ion-button>
    <ion-button routerLink="/quienes-somos" expand="block">Quienes Somos</ion-button>
  </ion-content>
</ion-menu>

<!-- Contenido Principal -->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <div style="display: flex; align-items: center;">
        <ion-img src="assets/media/icono.jpg" style="width: 60px; margin-right: 0px;" alt="Logo Tekowave"></ion-img>
        <ion-title routerLink="/inicio">Tekowave</ion-title>
      </div>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <h4 class="ion-text-center">{{ titulo }}</h4>
    <div *ngIf="productos.length > 0; else loading">
      <ion-card *ngFor="let producto of productos" class="ion-text-center">
        <ion-card-header>
          <ion-card-title>{{ producto.title }}</ion-card-title>
        </ion-card-header>
        <ion-img [src]="producto.image" alt="{{ producto.title }}" style="height: 200px; object-fit: contain;"></ion-img>
        <ion-card-content>
          <p><strong>Precio:</strong> ${{ producto.price }}</p>
          <p>{{ producto.description }}</p>
        </ion-card-content>
      </ion-card>
    </div>
    <ng-template #loading>
      <p class="ion-text-center">Cargando productos...</p>
    </ng-template>
  </ion-content>
</div>
