<ion-app>
  <!-- Menú lateral -->
  <ion-menu side="end" contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Tekowave</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item routerLink="/inicio">Inicio</ion-item>
        <ion-item routerLink="/productos">Productos</ion-item>
        <ion-item routerLink="/quienes-somos">Quienes Somos</ion-item>
        <ion-item *ngIf="!authService.isLoggedIn()" routerLink="/login">Iniciar Sesión</ion-item>
        <ion-item *ngIf="!authService.isLoggedIn()" routerLink="/registro">Registrarse</ion-item>
        <ion-item (click)="clearAllPreferences()">Limpiar Preferencias</ion-item>
        <ion-item *ngIf="authService.isLoggedIn()" (click)="onLogout()">Cerrar Sesión</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Contenido principal -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
